.search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin: 0 auto; /* Center the search box horizontally */
  display: block; /* Ensure the search box is displayed as a block element */
}
